# Puerto donde correrá el servidor (Opcional, por defecto 3000)
PORT=3000

# Ticket o API Key de Mercado Público
# Si no proporcionas esta variable, la aplicación utilizará datos simulados para fines de demostración.
MERCADO_PUBLICO_TICKET=tu_ticket_aqui
